:root {
  --color-navy-blue: #191970;
  --color-bright-magenta: #880E4F;
  --color-redish-brown: #701919;
  --color-brown: #704419;
  --color-maroon: #701945;
  --color-magenta-purple: #701970;
  --color-blue-purple: #451970;
}

html{
  scroll-behavior:smooth;
}

.color-navy-blue {
  background-color: #191970;
}
.color-bright-magenta {
  background-color: #880E4F;
}
.color-redish-brown {
  background-color: #701919;
}
.color-brown {
  background-color: #704419;
}
.color-maroon {
  background-color: #701945;
}
.color-magenta-purple {
  background-color: #701970;
}
.color-blue-purple {
  background-color: #451970;
}


.App {
  text-align: center;
  font-family: 'Gentium Basic', serif;
}

.modal-body {
  padding: 5rem !important;
  font-size: 1.2rem;
}


body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background: var(--color-bright-magenta)
}

body::-webkit-scrollbar-track {
  background: #e7eaebf6
}

.social-btn-hover:hover {
  color: #191970;
}

@media (min-width: 300px) {
  .portfolio-card-text {
    font-size: 0.9rem;
  }
  .modal-body {
    padding: 1rem !important;
    font-size: 1rem;
  }   
  .courses-bg {
    all: unset;
  }
}

@media (min-width: 450px) {
  .portfolio-card-text {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .modal-body {
    padding: 1rem 5rem !important;
    font-size: 1.2rem;
  } 
}

@media (min-width: 1600px) {
  .portfolio-card-text {
    font-size: 1.2rem;
  }
}

.courses-bg:hover {
  filter: brightness(90%);
}









